
html, body{
  height: 100%;
}

a, a:hover, a:active, a:visited {
  color: #00FFDD;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffffs;
}
